* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.debug {
  border: 2px dashed black;
}

.header-container {
  width: 70%;
  background: rgb(214, 171, 61);
  margin: 20px auto;
  padding: 10px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: #add8e6;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
}

/* FLEX FUCTIONS */

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.f-shrink {
  flex-shrink: 0;
}

.justify-center {
  justify-content: center;
}

.justify-f-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* SPACES */

.col25 {
  width: 25%;
}

.col30 {
  width: 30%;
  background-color: #f08080;
  min-height: 450px;
}

.col40 {
  width: 40%;
  background-color: #ffc0cb;
  min-height: 450px;
}

.col50 {
  width: 50%;
}

.col60 {
  width: 60%;
  background-color: #1e90ff;
}

.col70 {
  width: 70%;
  background: #20b2aa;
}

.col100 {
  width: 100%;
  min-height: 700px;
  background: #228b22;
}

.big-card {
  width: 50%;
  background-color: #ee82ee;
  height: 300px;
}

.bg-blue {
  background-color: #00008b;
  min-height: 400px;
  width: 100%;
}

.main-padding {
  padding: 30px;
}

.footer-padding {
  padding: 5px 30px 15px;
}
.bg-grey {
  background: #d3d3d3;
}

.bg-darkgrey {
  background: #23272a;
}
